body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(33, 0, 68);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

*::-moz-focus-inner  {
  border: 0;
}

#title, #title:visited {
  font-size: 30px;
  margin:70px;
  margin-bottom: 60px;
  padding: 5px;
  font-weight: bold;
  border: solid white 2px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
  display: block;
  color: white;
  text-decoration: none;
}

#title:hover {
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
  background-color: white;
  color: rgb(33, 0, 68);
}

#desc {
  padding: 10px;
  font-family: 'Droid Serif', serif;
  line-height: 1.6;
  letter-spacing: .5px;
  font-style: italic;
}

#desc a,
#desc a:visited {
  color: white;
}

#desc a:hover {
  text-decoration: underline;
}

#right {
  background-color: #f3f3f3;
  margin-left: 300px;
}

#right, #left {
  min-height:100%;
  height:auto !important;
  height:100%;
  position: relative;
}

#left {
  width: 300px;
  float: left;
  color: white;
  font-family: 'Lato', sans-serif;
  position: fixed;
}

#texta, #textaresult {
  width: 40%;
  margin: 20px;
  float: left;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  margin-bottom: 0px;
  border: solid #999 1px;
  resize: vertical;
  min-width: 300px;
}

#textaresult {
  height: 400px;
  background-color: #F4F4F4;
  color: #444;
}

#texta {
  min-height: 400px;
}

#buttons {
  margin: 30px;
  margin-left: 80px;
}

button {
  border: solid white 2px;
  height:50px;
  width:50px;
  border-radius:25px;
  cursor: pointer;
  background-color: rgb(33, 0, 68);
  color: white;
  font-size: 20px;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

button:hover {
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
  background-color: white;
  color: rgb(33, 0, 68);
}

#msg button {
  border-color: rgb(33, 0, 68);
}

#buttons button {
  float: left;
  margin-right: 15px;
}

#msg {
  position: fixed;
  width:400px;
  top:30%;
  left:40%;
  background-color: white;
  border: solid rgb(33, 0, 68) 2px;
}

#msg button {
  margin: 10px;
  float: right;
}

#msgInner {
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

#loadbuttons {
  width: 80%;
  overflow: hidden;
  padding: 20px;
  float: left;
}

#loadbuttons button {
  border-color: rgb(33, 0, 68);
  border-radius: 6px;
  width: auto;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  height: 35px;
  margin-bottom: 5px;
  float: left;
  margin-right: 5px;
}

#buttons #evalbut {
  margin-left: 45px;
}

#buttons .running {
  margin-left: 0px !important;
}

#impr {
  position: absolute;
  bottom:0px;
  font-size: 11px;
  margin: 5px;
  color: #AAA;
}

#impr a, #impr a:visited {
  color: white;
}

#github {
  font-size: 25px;
  margin-left: 10px;
}

.exampleblock {
  margin-bottom: 20px;
}

.exampleinput {
  clear: both;
  width: 47%;
  min-height: 50px;
  float: left;
  margin-right: 1%;
  margin-bottom: 10px;
  font-family: Inconsolata,monospace;
  font-size: 95%;
}

.exampleoutput {
  min-height: 50px;
  width: 47%;
  float: left;
  color: #333;
  font-family: Inconsolata,monospace;
  font-size: 95%;
}

#manual {
  padding:15px;
  width: 800px;
  overflow: hidden;
}

#manual button {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  font-size: 11px;
  margin-left: 5px;
  border-color: rgb(33, 0, 68);
}

#manual h3, #manual h2 {
  background-color: #CFCFCF;
  padding: 2px;
  padding-left: 15px;
  margin-left: -15px;
  padding-right: 4px;
}

#manual h3 {
  display: block;
  float: left;
  margin-bottom: 10px;
}

#manual h3, #manual button {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

.exampledesc {
  padding-bottom: 5px;
  clear: both;
}

code {
  background-color: #DDD;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px 4px 3px 4px;
}
